apiVersion: v1
kind: Service
metadata:
  name: pyxis-firmament-com
  namespace: sky-firmament
  labels:
    app: firmament-pyxis
spec:
  selector:
    app: firmament-pyxis
  ports:
  - port: 8081
    targetPort: 8080
    nodePort: {{ pyxis_nodeport }}
  type: NodePort
