apiVersion: v1
kind: Service
metadata:
  name: skyform-sas-com
  namespace: sky-firmament
  labels:
    app: skyform-sas
spec:
  selector:
    app: skyform-sas
  ports:
  - name: api
    port: 8980
    targetPort: 8980
    nodePort: 31898
  - name: http
    port: 8999
    targetPort: 8999
  type: NodePort
