---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: river
    type: api
  name: river
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: river
      type: api
  template:
    metadata:
      labels:
        app: river
        type: api
      name: river
    spec:
      nodeSelector:
        management: "yes"
      serviceAccountName: river
      containers:
      - name: river
        image: {{ river_image }}
        imagePullPolicy: IfNotPresent
        args:
        - -logtostderr=true
        - -v=2
        ports:
        - containerPort: 8000
          name: api
          protocol: TCP
