apiVersion: v1
kind: Service
metadata:
  name: lyra-firmament-com
  namespace: {{ ecp_namespace }}
  labels:
    app: firmament-lyra
spec:
  selector:
    app: firmament-lyra
  ports:
  - port: 8081
    targetPort: 8080
    nodePort: {{ lyra_nodeport }}
  type: NodePort
