{
    "default-runtime": "nvidia",
    "runtimes": {
        "nvidia": {
            "path": "/usr/bin/nvidia-container-runtime",
            "runtimeArgs": []
        },
        "docker-runc": {
            "path": "/usr/libexec/docker/docker-runc-current",
            "runtimeArgs": []
        }
    }
}
