apiVersion: v1
kind: ReplicationController
metadata:
  name: proxy
  labels:
    name: proxy
  namespace: harbor
spec:
  replicas: 1
  selector:
    name: proxy
  template:
    metadata:
      labels:
        name: proxy
    spec:
      containers:
      - name: proxy
        image: {{ harbor_proxy_image }}
        ports:
        - containerPort: 80
        - containerPort: 443
        - containerPort: 8080
      nodeSelector:
        management: "yes"
