apiVersion: v1
kind: ReplicationController
metadata:
  name: registry
  labels:
    name: registry
  namespace: harbor
spec:
  replicas: 1
  selector:
    name: registry
  template:
    metadata:
      labels:
        name: registry
    spec:
      containers:
      - name: registry
        image: {{ harbor_registry_image }}
        ports:
        - containerPort: 5000
        - containerPort: 5001
        volumeMounts:
        - name: storage
          mountPath: /storage
      volumes:
      - name: storage
        hostPath:
          path: /storage
      nodeSelector:
        harbor: "yes"
