apiVersion: v1
kind: Service
metadata:
  name: kibana-logging
  namespace: {{ ecp_namespace }}
  labels:
    k8s-app: kibana-logging
    kubernetes.io/name: "Kibana"
spec:
  ports:
  - port: 5601
    protocol: TCP
    targetPort: ui
    nodePort: {{ kibana_nodeport }}
  type:
    NodePort
  selector:
    k8s-app: kibana-logging
