---
- name: Create events directory
  file: path={{ kube_ecp_dir }}/events state=directory

- name: Copy events yaml file
  template: src={{ item }} dest={{ kube_ecp_dir }}/events/{{ item | basename | regex_replace('\.j2', '') }}
  with_fileglob:
    - ../templates/events/*.j2

- name: Check if events rc already exists
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            get rc --namespace={{ ecp_namespace }} | grep firmament-events
  register: check_events_rc
  failed_when: check_events_rc.rc != 0 and check_events_rc.rc != 1

- name: Check if events service already exists
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            get svc -namespace={{ ecp_namespace }} | grep events-firmament-com
  register: check_events_svc
  failed_when: check_events_svc.rc != 0 and check_events_svc.rc != 1
    
- name: Create events rc
  when: check_events_rc.rc != 0
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            create -f {{ kube_ecp_dir }}/events/events-controller.yaml
  run_once: true

- name: Create events service
  when: check_events_svc.rc != 0
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            create -f {{ kube_ecp_dir }}/events/events-service.yaml
  run_once: true

