---
- name: Create lyra directory
  file: path={{ kube_ecp_dir }}/lyra state=directory

- name: Copy lyra yaml file
  template: src={{ item }} dest={{ kube_ecp_dir }}/lyra/{{ item | basename | regex_replace('\.j2', '') }}
  with_fileglob:
    - ../templates/lyra/*.j2

- name: Check if lyra rc already exists
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            get rc --namespace={{ ecp_namespace }} | grep firmament-lyra
  run_once: true
  register: check_lyra_rc
  failed_when: check_lyra_rc.rc != 0 and check_lyra_rc.rc != 1

- name: Create lyra rc
  when: check_lyra_rc|failed
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            create -f {{ kube_ecp_dir }}/lyra/lyra-controller.yaml
  run_once: true

- name: Check if lyra service already exists
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            get svc --namespace={{ ecp_namespace }} | grep lyra-firmament-com
  run_once: true
  register: check_lyra_svc
  failed_when: check_lyra_svc.rc != 0 and check_lyra_svc.rc != 1

- name: Create lyra svc
  when: check_lyra_svc|failed
  shell: |
    kubectl --kubeconfig={{ kubeadmin_config }} \
            create -f {{ kube_ecp_dir }}/lyra/lyra-service.yaml
  run_once: true

