- name: Label nodes
  include: label.yml
  tags:
    - ecp_label

- name: Create ecp directory
  file: path={{ kube_ecp_dir }} state=directory
  tags:
    - ecp_dir

- name: Create sky-firmament namespace
  include: namespace.yml
  tags:
    - ecp_namespace

- name: Create ecp configuration
  include: config.yml
  tags:
    - ecp_config

- name: Create ecp appstore
  include: appstore.yml
  tags:
    - ecp_appstore

# Needs to verify
- name: Create logging service
  when: not opensource
  include: logging.yml
  tags:
    - ecp_logging

# Event image needs to update k8s Java client
# Existing one is outdated causing client exception
- name: Create events service
  when: not opensource
  include: events.yml
  tags:
    - ecp_events

- name: Create license service
  include: license.yml
  tags:
    - ecp_license

- name: Create lyra service
  include: lyra.yml
  tags:
    - ecp_lyra



